bin/
obj/
.vs/
BlastTestConsole/obj/Debug/netcoreapp3.1/BlastTestConsole.csprojAssemblyReference.cache
*.cache
*.pdb
*.dll
*.dll
*.exe
*.meta
BLAST/bin/Debug/netstandard2.1/BLAST.dll
BLAST/bin/Debug/netstandard2.1/BLAST.pdb
BLAST/bin/Debug/netstandard2.1/BLAST.xml
